<nav>
    <% if (locals.user) { %>
        <%= user %>
    <% } %>
    <a href="/">Home</a>
    <a href="/sign-up">Register</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/create-folder<%= locals.directoryId ? '/' + directoryId : '' %>">Create Folder</a>
    <a href="/upload-files<%= locals.directoryId ? '/' + directoryId : '' %>">Upload Files</a>
</nav>