<nav role="navigation" aria-label="Main">
  <a href="/">Home</a>

  <% if (locals.user) { %>
    <a href="/create-folder<%= locals.directoryId ? '/' + locals.directoryId : '' %>">Create Folder</a>
    <a href="/upload-files<%= locals.directoryId ? '/' + locals.directoryId : '' %>">Upload Files</a>

    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/sign-up">Register</a>
    <a href="/login">Login</a>
  <% } %>
</nav>