<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Folder</title>
</head>
<body>
    <%- include("partials/navigation.ejs") %>
    <form action="/create-folder" method="POST">
        <input type="hidden" name="parent_directory_id" id="parent_directory_id" value="<%=locals.directoryId ?? ''%>">
        <label for="name">Folder Name:
            <input type="text" name="name">
        </label>
        <button type="submit">Create Folder</button>
    </form>
    <%- include("partials/errors.ejs") %>
</body>
</html>